---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Impressum" description="Impressum des ASN Pfeil Phönix e.V.">
  <section class="section">
    <div class="container">
      <h1>Impressum</h1>
      <div class="prose" style="margin-top:2rem;">
        <h2>Angaben gemäß § 5 TMG</h2>
        <p>
          ASN Pfeil Phönix e.V.<br>
          Marienbergstraße 41<br>
          90411 Nürnberg
        </p>

        <h2>Vertreten durch</h2>
        <p>
          1. Vorsitzender: Danny Taubner<br>
          Eingetragen im Vereinsregister: Amtsgericht Nürnberg,  VR-Nr. : 629
        </p>

	<p>
	Umsatzsteuer-Identifikationsnummer gemäß §27 a Umsatzsteuergesetz: 241/107/00543
	</p>

        <h2>Kontakt</h2>
        <p>
          E-Mail: <a href="mailto:asnpfeilphoenix@gmail.com">asnpfeilphoenix@gmail.com</a>
        </p>

        <h2>Haftung für Inhalte</h2>
        <p>Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen.</p>

        <h2>Haftung für Links</h2>
        <p>Unser Angebot enthält Links zu externen Webseiten Dritter. Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich.</p>

        <h2>Urheberrecht</h2>
        <p>Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers.</p>

	<h2>Hinweise zur Benutzung unserer Internetseiten</h2>


	<p>Informationen, die auf der Webseite vorgestellt werden, sind allgemeiner Art. Besuch dieser Webseite begründet kein Rechtsverhältnis. Auskünfte, speziell solche, die über e-Mail erteilt werden, sind unverbindlicher Art.

Wir müssen Sie darauf hinweisen, daß die Kommunikation über e-Mail für die unverschlüsselte Übertragung von vertraulichen Informationen nicht geeignet ist. Zur verschlüsselten Übertragung von Informationen via e-Mail empfehlen wir spezielle Software. Sollten wir eine e-Mail erhalten, so schließen wir daraus, daß wir auch zur Beantwortung mittels e-Mail berechtigt sind, sofern Sie nicht ausdrücklich eine andere Art von Kommunikation wünschen.

Wir weisen ausdrücklich darauf hin, daß einige unserer Links zu Seiten von Dritten führen. Wir können daher keine Garantie für das Funktionieren der Seiten noch für Ihren Inhalt abgeben.

Das Herunterlanden oder Ausdrucken einzelner Seiten und/oder Teilbereiche unserer Webseiten für den privaten Gebrauch ist gestattet. Das vollständige oder teilweise Reproduzieren, Verbreiten, Übermitteln (elektronisch oder auf andere Weise), Modifizieren oder Benutzen dieser Webseite für öffentliche oder kommerzielle Zwecke hingegen ist ohne unsere vorherige schriftliche Zustimmung untersagt.

Auf diesen Seiten sind Fotografien von den Vereinsveranstaltungen dargestellt (Punktspiele, Freundschaftsspiele, Turniere, Training, Festveranstaltungen von ASN-Pfeil Phönix e.V.). Sollte Jemand aus welchem Grund auch immer nicht wünschen, dass Fotos auf denen er abgebildet ist, hier veröffentlich werden, dann möge er sich mit dem Vorstand des Vereins in Verbindung setzen (Kontaktdaten siehe Rubrik Vorstand).</p>
      </div>
    </div>
  </section>
</BaseLayout>
